<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="titulo">Detalles Reserva</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 texto_div">
        <div id="result_escaneo"></div>
    </div>
    <div class="col-lg-12" style="font-size: 100%">
        <hr>
        <a type="button" ng-click="confirmar()" class="btnportologin" ng-show="estado=='Abierta'">Confirmar</a>
        <a type="button" ng-click="cancelar()" class="btnportologin">Atr&aacute;s</a>
    </div>

</div>