<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="titulo">Bienvenido</h3>
        <hr>
    </div>
</div>
<div class="row">

    <div class="col-lg-2"></div>
    <div class="col-lg-8 filter">

        <div class="row d-flex justify-content-center">
            <div id="carbonads" style="padding-top: 10px"><span><span class="d-flex justify-content-center"><br>
                <a ng-click="scanRQ()"> <img src="img/qrscann.png" alt="" height="130" width="130" style="max-width: 130px;"></a>
            </div>
        </div>
        <div class="text-center texto_div">
            <p>
                Verificar Reserva QR
            </p>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 filter">

        <div class="row d-flex justify-content-center">
            <div id="carbonads"><span><span class="d-flex justify-content-center">
                        <a href="#/reserva"><br><img src="img/userscann.png" alt="" height="130" width="130"></a>
            </div>
        </div>
        <div class="text-center texto_div">
            <p>
                Verificar por Cédula
            </p>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<!--<div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 filter">
    
            <div class="row d-flex justify-content-center">
                <div id="carbonads"><span><span class="d-flex justify-content-center">
                            <a href="#/cotizar"><br><img src="img/cotizar.png" alt="" height="130" width="130"></a>
                </div>
            </div>
            <div class="text-center texto_div">
                <p>
                    Realizar cotización
                </p>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>-->
<div class="col-lg-12" style="font-size: 100%">
    <hr>
    <a type="button" ng-click="cancelar()" class="btnportologin">Salir</a>
</div>