<div id="test" class="carousel slide"><!--ng-show="viewDetail"-->
    <div class="row">
        <div class="col-md-6 text-center">
            <h3  class="titulo">{{titulo}}</h3>
            <hr>
        </div>

    </div>

    <!-- Indicators -->
    <!--
            <ul class="carousel-indicators">
          <li ng-click="setTab(1)" data-slide-to="1" ng-class="{'active': isSet(1)}"></li>
          <li ng-click="setTab(2)" data-slide-to="2" ng-class="{'active': isSet(2)}"></li>
          <li ng-click="setTab(3)" data-slide-to="3" ng-class="{'active': isSet(3)}"></li>
        </ul>-->

    <!-- The slideshow -->

    <!--<div id="menuPorto" class="carousel-inner text-center">
        <div ng-repeat="menu in listMenu">
            <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;"
                ng-class="{'active': isSet(menu.index)}" ng-show="isSet(menu.index)">
                <p style="color:#e8e4c4"><strong>{{menu.titulo}}</strong></p>
                <img class="cepeda" src="{{menu.imagen}}" alt="Los Angeles" width="210">
                <div style="color:#e8e4c4" ng-bind-html="menu.precio">

                </div>
            </div>
        </div>

    </div>-->

    <div id="menuPorto" class="carousel-inner text-center">
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(1)}" ng-show="isSet(1)">
            <img class="cepeda" src="img/carta/1.jpg" alt="Los Angeles" width="100%" height="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(2)}" ng-show="isSet(2)">
            <img src="img/carta/2.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(3)}" ng-show="isSet(3)">
            <img src="img/carta/3.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(4)}" ng-show="isSet(4)">
            <img src="img/carta/4.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(5)}" ng-show="isSet(5)">
            <img src="img/carta/5.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(6)}" ng-show="isSet(6)">
            <img src="img/carta/6.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(7)}" ng-show="isSet(7)">
            <img src="img/carta/7.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(8)}" ng-show="isSet(8)">
            <img src="img/carta/8.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(9)}" ng-show="isSet(9)">
            <img src="img/carta/9.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(10)}" ng-show="isSet(10)">
            <img src="img/carta/10.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(11)}" ng-show="isSet(11)">
            <img src="img/carta/11.jpg" alt="Los Angeles" width="100%">
        </div>
        <div class="carousel-item" style="background: rgba(213, 219, 219, 0.3); border-radius: 10px 10px 10px 10px;" ng-class="{'active': isSet(12)}" ng-show="isSet(12)">
            <img src="img/carta/12.jpg" alt="Los Angeles" width="100%">
        </div>
    </div>

    <!-- Left and right controls -->
    <a id="btnPreview" class="carousel-control-prev" ng-click="slideIzquierda()">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a id="btnNext" class="carousel-control-next" ng-click="slideDerecha()">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>

<!--
<div class="row" ng-show="!viewDetail">
    <div class="col-lg-12 text-center">
        <h3 class="titulo">Menú</h3>
        <hr>
    </div>
</div>


<div class="row" ng-show="!viewDetail">
    <!--<div class="col-lg-12 text-center">
        <a ng-click="showMenu(1)" data-transition="flip"><img style="width: 80%" src="img/entradas.png"></a>
        <a ng-click="showMenu(2)" data-transition="flip"><img style="width: 80%" src="img/platosfuertes.png"></a>
        <a ng-click="showMenu(3)" data-transition="flip"><img style="width: 80%" src="img/picadas.png"></a>
        <a ng-click="showMenu(4)" data-transition="flip"><img style="width: 80%" src="img/combos.png"></a>
        <a ng-click="showMenu(5)" data-transition="flip"><img style="width: 80%" src="img/ensaladas.png"></a>
        <a ng-click="showMenu(6)" data-transition="flip"><img style="width: 80%" src="img/bebidas.png"></a>
        <a ng-click="showMenu(7)" data-transition="flip"><img style="width: 80%" src="img/cervezas.png"></a>
        <a ng-click="showMenu(8)" data-transition="flip"><img style="width: 80%" src="img/pasantes.png"></a>
        <a ng-click="showMenu(9)" data-transition="flip"><img style="width: 80%" src="img/licores.png"></a>
        <a ng-click="showMenu(10)" data-transition="flip"><img style="width: 80%" src="img/cocteles.png"></a>
        <a ng-click="showMenu(11)" data-transition="flip"><img style="width: 80%" src="img/shots.png"></a>
    </div>
    --
    <div class="col-lg-12 text-center">
        <a ng-click="loadMenuCategoria(1,'Entradas')" data-transition="flip"><img style="width: 80%" src="img/entradas.png"></a>
        <a ng-click="loadMenuCategoria(2,'Platos Fuertes')" data-transition="flip"><img style="width: 80%" src="img/platosfuertes.png"></a>
        <a ng-click="loadMenuCategoria(3,'Picadas')" data-transition="flip"><img style="width: 80%" src="img/picadas.png"></a>
        <a ng-click="loadMenuCategoria(4,'Combos')" data-transition="flip"><img style="width: 80%" src="img/combos.png"></a>
        <a ng-click="loadMenuCategoria(5,'Bebidas')" data-transition="flip"><img style="width: 80%" src="img/bebidas.png"></a>
        <a ng-click="loadMenuCategoria(6,'Cervezas')" data-transition="flip"><img style="width: 80%" src="img/cervezas.png"></a>
        <a ng-click="loadMenuCategoria(7,'Shots')" data-transition="flip"><img style="width: 80%" src="img/shots.png"></a>
        <a ng-click="loadMenuCategoria(8,'Cocteles')" data-transition="flip"><img style="width: 80%" src="img/cocteles.png"></a>
        <a ng-click="loadMenuCategoria(10,'Ensaladas')" data-transition="flip"><img style="width: 80%" src="img/ensaladas.png"></a>
        <a ng-click="loadMenuCategoria(11,'Licores')" data-transition="flip"><img style="width: 80%" src="img/licores.png"></a>
        <a ng-click="loadMenuCategoria(12,'Pasantes')" data-transition="flip"><img style="width: 80%" src="img/pasantes.png"></a>

    </div>

</div>
<div class="row" ng-show="viewDetail">
    <div class="col-lg-12">
        <hr>
        <a type="button" ng-click="atras()" class="btnporto">Atrás</a>
    </div>
</div>
-->