<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="titulo">Mi Pasoporto</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center texto_div">
        <p>Bienvenid@ {{object.nombres}}</p><br>
        <qr text="string"></qr><br>
        <p>En Porto Alto queremos que nuestros clientes disfruten un servicio de altura. Con los beneficios de cliente Pasaporto podrás obtener el 8% de descuento en tu consumo y mucho más.</p>
        <p>Solo debes presentar tu tarjeta Pasaporto en físico o código QR de identificación digital Pasaporto al cancelar tu cuenta ¡y listo!</p>
    </div>
</div>