<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="titulo">Clientes Pasoporto</h3>
        <hr>
    </div>
</div>
<div class="row" style="padding:15px;">
    <div class="col-lg-12 text-justify texto_div">
        <p>En Porto Alto queremos que nuestros clientes disfruten un servicio de altura. Con los beneficios de cliente Pasaporto podrás obtener el 8% de descuento en tu consumo y mucho más</p>
        <p>Solo debes presentar tu tarjeta Pasaporto en físico o código QR de identificación digital Pasaporto al cancelar tu cuenta ¡y listo!</p>
        <p>Si deseas disfrutar estos beneficios, dirígete al manager o encargado de nuestro restaurante y coméntale que quieres ser un cliente Pasaporto. De manera inmediata te indicará las instrucciones para obtener tu identificación digital de cliente Pasaporto.</p>
        <p>Y tú, ¿qué esperas para ser un cliente Pasaporto?</p>
        <p>¡Beneficios de altura para nuestros clientes VIP! </p>
    </div>



</div>